@charset "utf-8";
/*html reset */
header, 
footer,
section,
article, 
nav, 
aside, 
main,
figure,
figcaption {
 	display: block; }
 	/*All에서만 쓰이는 것*/

 	/*Mobile에서만 쓰이는 것*/
 	
 	/*Tablet & Desktop*/
@media (min-width: 768px){
 		body{
 			background: red;
 		}
 	}

 	/*768px와 같거나 그것보다 크면 이 조건이 true 이며 안에 있는 파일이 실행됨 아이패드 세로 사이즈가 768*/
 	
 	/*Tablet*/
 	
 	/*Desktop*/
 	
 	/*반응형 웹일때는 layout의 유연하게 반응함.*/
/*.container{*/
	max-width: 960px;
	background: silver;
	} 
.header>h1{

}*/
 /* >는 자식 선택자를 의미함 모든 h1을 선택 후 hedader로 범위를 축소해서 선택하게 됨.*/
